<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ import namespace="System" #>
<#@ output extension=".cs" #>
<# String type = null; #>
using System.Runtime.CompilerServices;
using System.Runtime.InteropServices;

namespace System.NumericsX
{
<# type = "Vector4"; #>
<#@ include file="Interpolate.t4" #>
}